<div data-o-component="labs-o-share" data-o-share--js="" class="labs-o-share{{#labs-o-share.isVertical}} labs-o-share--vertical{{/labs-o-share.isVertical}}">
	<ul>
		{{#labs-o-share.withTwitter}}
		<li class="labs-o-share__action labs-o-share__action--twitter">
			<a href="https://twitter.com/intent/tweet?url={{labs-o-share.url}}&amp;text={{labs-o-share.title}}&amp;related={{labs-o-share.relatedTwitterAccounts}}&amp;via=FT"><i>Twitter</i></a>
		</li>
		{{/labs-o-share.withTwitter}}
		{{#labs-o-share.withFacebook}}
		<li class="labs-o-share__action labs-o-share__action--facebook">
			<a href="http://www.facebook.com/sharer.php?u={{labs-o-share.url}}&amp;t={{labs-o-share.title}}+|+{{labs-o-share.titleExtra}}"><i>Facebook</i></a>
		</li>
		{{/labs-o-share.withFacebook}}
		{{#labs-o-share.withLinkedin}}
		<li class="labs-o-share__action labs-o-share__action--linkedin">
			<a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{labs-o-share.url}}&amp;title={{labs-o-share.title}}+|+{{labs-o-share.titleExtra}}&amp;summary={{labs-o-share.summary}}&amp;source=Financial+Times"><i>LinkedIn</i></a>
		</li>
		{{/labs-o-share.withLinkedin}}
		{{#labs-o-share.withWhatsapp}}
		<li class="labs-o-share__action labs-o-share__action--whatsapp">
			<a target="_blank" href="whatsapp://send?text={{labs-o-share.title}}%20-%20{{labs-o-share.url}}" data-trackable="whatsapp"><i>Whatsapp</i></a>
		</li>
		{{/labs-o-share.withWhatsapp}}
		{{#labs-o-share.withGoogleplus}}
		<li class="labs-o-share__action labs-o-share__action--googleplus"> 
			<a href="https://plus.google.com/share?url={{labs-o-share.url}}"><i>Google+</i></a>
		</li>
		{{/labs-o-share.withGoogleplus}}
		{{#labs-o-share.withReddit}}
		<li class="labs-o-share__action labs-o-share__action--reddit">
			<a href="http://reddit.com/submit?url={{labs-o-share.url}}&amp;title={{labs-o-share.title}}"><i>Reddit</i></a>
		</li>
		{{/labs-o-share.withReddit}}
		{{#labs-o-share.withPinterest}}
		<li class="labs-o-share__action labs-o-share__action--pinterest">
			<a href="http://www.pinterest.com/pin/create/button/?url={{labs-o-share.url}}&amp;description={{labs-o-share.title}}"><i>Pinterest</i></a>
		</li>
		{{/labs-o-share.withPinterest}}
		{{#labs-o-share.withLink}}
		<li class="labs-o-share__action labs-o-share__action--url">
			<a href="{{{labs-o-share.url}}}"><i>URL</i></a>
		</li>
		{{/labs-o-share.withLink}}

	</ul>
</div>
