$labs-o-share-is-silent: false;
@import '../../main';

body {
	font-family: BentonSans, sans-serif;
	text-align: center; // Place link in center to ensure overlay does not overflow screen
}

.labs-o-share {
	text-align: left; // Correct for body text-align
}

