////
/// @group labs-o-share
/// @link http://registry.origami.ft.com/components/labs-o-share
////

/// Generate base share styles
/// @param {String} $classname [labs-o-share] - base class name
@mixin labsShareBase($classname: labs-o-share) {
	.#{$classname} {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: 450px;
		font-size: 13px;

		ul {
			margin: 0;
			padding: 0;
			overflow: hidden;
		}

		h3 {
			margin: 0 0 4px 0;
    		font-size: 13px;
		}
	}

 	.#{$classname}__social {
		flex: 1 0 auto;
	}
	.#{$classname}__link {
		flex: 1 0 auto;
	}
	.#{$classname}__giftoptions {
		flex: 0 0 100%;
	}

	.#{$classname}__action {
		float: left;
		margin: 0;
		list-style-type: none;
		line-height: $labs-o-share-icon-size;
		cursor: pointer;

		i {
			float: left;
			background-size: 100% 100%;
			width: $labs-o-share-icon-size;
			height: $labs-o-share-icon-size;
			text-indent: $labs-o-share-icon-size;
			overflow: hidden;
		}

		a {
			text-decoration: none;
			padding: 3px;
			display: block;
			overflow: hidden;

			&:focus i {
				box-shadow: 0 0 2px oColorsGetPaletteColor('black');
			}

			&:hover i {
				opacity: 0.8;
			}
		}
		&:first-child a {
			padding-left: 0;
		}
	}

	.#{$classname}__urlbox {
		@include oFormsCommonField();
		@include oFormsCommonSmall();
		width: 140px;
		vertical-align: middle;
	}
	.#{$classname}__btncopy, .#{$classname}__btnemail {
		@include oButtons();
		@include oButtonsSize(small);
	}
	.#{$classname}__giftoptions {
		@include oColorsFor(labs-o-share-box box, background);
		padding: 10px;
		margin-top: 5px;
		box-sizing: border-box;
		> form {
			margin-top: 5px;
			@include oFormsRadioCheckbox((radio:".labs-o-share__giftoption", checkbox:".labs-o-share__chkbox", label: ".labs-o-share__giftlabel"));
		}
		p {
			margin: 5px 0 0 0;
		}
		> *:first-child {
			margin-top: 0;
		}
		.#{$classname}__giftlabel--cfg {
			margin-right: 3px;
		}
	}
	.#{$classname}__customgift {
		@include oFormsCommonField();
		@include oFormsCommonSmall();
		width: 40px;
		vertical-align: middle;
	}

	.#{$classname}__giftdesc, .#{$classname}__creditmsg {
		display: none;
	}

}

/// Action link styles
/// @param {String} $classname [labs-o-share] - base class name
@mixin labsShareActionLink($classname: labs-o-share) {
	.#{$classname}__action--url {
		display: none;

		i {
			background-image: url(_labsShareGetIconUrl(link));
		}

		input {
			display: block;
			margin: 6px;
			border: 0;
			border-radius: 2px;
			padding: 5px 8px;
			width: 140px;
			font-size: 12px;
			line-height: 14px;
			box-shadow: 0 0 3px oColorsGetPaletteColor('grey-tint5');

			// Removes the cross the clears the input in IE 10+
			&::-ms-clear {
				display: none;
			}
		}
	}

	[data-labs-o-share--js] .#{$classname}__action--url {
		display: block;
	}

	.#{$classname}__action--url[aria-selected=true] {
		position: relative;
		a {
			display: none;
		}
	}
}

/// Icon
///
/// @param {String} $name - Name of the icon
/// @param {String} $classname [labs-o-share] - base class name
@mixin labsShareActionIcon($name, $classname: labs-o-share) {
	.#{$classname}__action--#{$name} i {
		background-image: url(_labsShareGetIconUrl($name, $format: png) + "&width=" + _labsShareStripUnits($labs-o-share-icon-size));
		// The weird value for rgba is to prevent Sass converting rgba(0,0,0,0) to 'transparent',
		// which would cause the following line of css to be understood by ie7/8 and the svg to be downloaded
		background: rgba(0, 0, 0, 0.0001) url(_labsShareGetIconUrl($name)) center/100% no-repeat;
	}
}

/// o-overlay/Next overrides

.o-overlay{
	margin-left: 215px;

	&:after, &:before{
		left: 20px !important;
	}

}

.o-overlay-trigger[data-o-overlay-gift-trigger]{
	cursor:pointer;
}
