////
/// @group labs-o-share
/// @link http://registry.origami.ft.com/components/o-share
////

/// Tooltip styles
/// @param {String} $classname [labs-o-share] - base class name
@mixin labsShareTooltip($classname: labs-o-share) {
	.#{$classname}-tooltip {
		position: absolute;
		top: -40px;
		opacity: 0;
		cursor: default;
		transition: opacity 0.25s;
		z-index: 10;
	}

	.#{$classname}-tooltip__text {
		border-radius: 3px;
		padding: 8px 20px;
		white-space: nowrap;
		font-weight: normal;
		font-size: 14px;
		line-height: 14px;
		text-align: center;
		color: oColorsGetColorFor(tooltip, text);
		// scss-lint:disable DuplicateProperty
		background-color: oColorsGetColorFor(tooltip, background);
		background-color: $_labs-o-share-tooltip-bg;
		text-shadow: 0 0 1px oColorsGetPaletteColor('black');
	}

	.#{$classname}-tooltip__arrow {
		position: relative;
		left: 50%;
		margin-left: -16px;
		width: 0;
		height: 0;
		border-left: 10px solid rgba(0, 0, 0, 0);
		border-right: 10px solid rgba(0, 0, 0, 0);
		border-bottom: 10px solid $_labs-o-share-tooltip-bg;
	}
}
